.home {
  width: calc(100vw - 12px);
  background-color: #000a1f;
  min-height: 100vh;
  background-image: url(../../images/svg/polygons.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home .sideBar {
  background-color: #000717ed;
}

.home .text {
  color: white;
  padding-top: 30px;
}

.home .posts {
  font-weight: bold;
  background-color: #000a1fe0;
  min-height: 100vh;
  padding: 20px;
  width: calc(100% - 240px - 24px - 40px);
  padding-left: calc(240px + 24px + 20px);
  /* backdrop-filter: blur(15px); es el filtro del fondo...... da lag, cambiar */
}

.home .posts .text {
  padding: 1% 0;
  font-weight: bold;
}
